<!-- Receipe Details Components -->

<!-- Section to show image -->
<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" alt="" class="img-responsive">
  </div>
</div>

<!-- Section to show Recipe Name -->
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>

<!-- Section to show buttons -->
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropDown>
      <button class="btn btn-primary dropdown-toggle">Manage Recipe<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a>To Shopping List</a></li>
        <li><a>Edit Recipe</a></li>
        <li><a>Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Section to show description -->
<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>

<!-- Section to show Ingredients list -->
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>