<form #f="ngForm" (ngSubmit)="onSignUp(f)">
  <div class="form-group">
    <div class="row">
      <div class="col-xs-12">
        <label for="email" class="form-control-label">Email</label>
        <input type="text" class="form-control" name="email" ngModel email>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <label for="password" class="form-control-label">Password</label>
        <input type="text" class="form-control" name="password" ngModel>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign Up</button>
      </div>
    </div>
  </div>
</form>